.sup1{
font-size:50px;   
height:50px;  
letter-spacing:1px;
}

* {box-sizing: border-box;}
body {
  margin: 1;
  background: #f2f2f2;
}
header {
  background: white;
  text-align: center;
}
header a {
  display: block;
  text-decoration: none;
  outline: none;  
  transition: .3s ease-in-out;
}
.logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding: 20px 0;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
    font-weight: bold;
    color: #404040;
  padding: 15px 30px;
}
.topmenu li a:hover {color: #D5B45B;}
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #273037;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
  opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a {border-bottom: none;}
.topmenu > li:hover .submenu {
  opacity: 1;
    transform: scaleY(1);
}


body {
    margin: 0;
    padding: 0;
  }
  .folded {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 640px;
    height: 360px;
    display: flex;
  }
  .folded-itm {
    list-style: none;
    width: 25%;
    background: url(reka_gory_derevia_148944_1920x1080.jpg);
    background-size: cover;
    height: 100%;
    transition: 0.5s;
  }
  .folded:hover .folded-itm:nth-child(odd) {
    transform: skewY(15deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0, .5);
  }
  .folded:hover .folded-itm:nth-child(even) {
    transform: skewY(-15deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0, .5);
  }
  
  .folded .folded-itm:nth-child(1) {
    background-position: 0;
  }
  .folded .folded-itm:nth-child(2) {
    background-position: -160px;
  }
  .folded .folded-itm:nth-child(3) {
    background-position: -320px;
  }
  .folded .folded-itm:nth-child(4) {
    background-position: -480px;
  }


.sup2{
font-size: 50px;
position: absolute;: 20px; left: 101px; bottom:20px

}